@{
    ViewBag.Title = "Jason A Linton";
}

<div id="banner-section" class="row">
    <div class="col-md-12">

        <div id="banner" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#banner" data-slide-to="0" class="active"></li>
                <li data-target="#banner" data-slide-to="1"></li>
                <li data-target="#banner" data-slide-to="2"></li>
                <li data-target="#banner" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for the slides -->
            <div class="carousel-inner" role="listbox">
                <div class="carouselItem item active" style="background: #C7C6C1">
                    <img class="carouselImage" src="images/Me Looking At House (Hulu Dims).jpg" />
                    <div class="carousel-caption">This is the first slide</div>
                </div>

                <div class="carouselItem item" style="background: #F7F5F6">
                    <img class="carouselImage" src="images/Girl Drinking Coffee (Masked).png" />
                    <div class="carousel-caption">This is the second slide</div>
                </div>

                <div class="carouselItem item" style="background: #B0ACA9">
                    <img class="carouselImage" src="images/Bentley In Bed (Masked).png" />
                    <div class="carousel-caption">This is the third slide</div>
                </div>

                <div class="carouselItem item" style="background: #0F0F0F">
                    <img class="carouselImage" src="images/Snake Girl (Masked).png" />
                    <div class="carousel-caption">This is the fourth slide</div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#banner" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#banner" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div> <!-- Banner Close -->

    </div>
</div>  <!-- Banner Section Close -->

<div id="intro-section" class="row">

    <div id="intro-section-header" class="row">
        <h1>Inventory</h1>
        <!-- <hr> -->
        <h2>Several years ago I realised that there were 5 areas in my life that I didn't wan't to get any lower than they were at that point</h2>
    </div>

    <div id="intro-img" class="row">
        <img id="inventory-pentagon-img" src="images/Inventory Pentagon.png">
    </div>

</div> <!-- intro Section Close -->

<div id="inventory-section" class="row">

    <div id="inventory-intro" class="text-row row">
        <p>
            "Look at it from an objective point of view and you'll have complete control"
        </p>
    </div>

    <div id="social-row" class="inventory-row row">
        <img id="me-silhouette-img" class="social-silhouette-img" src="images/Me Silhouette.png" alt="Me Silhouette">
        <img id="girl-silhouette-img" class="social-silhouette-img" src="images/Girl Silhouette.png" alt="Girl Silhouette">
        <img id="social-waves-img" class="inventory-row-background" src="images/Social Waves 9.png" alt="Social Waves">
    </div>

    <div id="emotional-row" class="inventory-row row">
        <div class="col-sm-6 col-md-6 col-lg-4 col-lg-offset-2">
            <div class="row">
                <h1>Emotionally</h1>
            </div>
            <div class="row">
                <h2>Education shouldn't stop after school</h2>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4">
            <img id="emotional-masks-img" src="images/Emotional Masks.png" alt="Emotional Masks">
        </div>
    </div>

    <div id="mental-row" class="inventory-row row">
        <div class="col-sm-6 col-md-6 col-lg-4 col-lg-offset-2">
            <img id="brain-img" src="images/Brain.png" alt="Brian">
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="row">
                <h1>Mentally</h1>
            </div>
            <div class="row">
                <h2>Education shouldn't stop after school</h2>
            </div>
        </div>
    </div>

    <div id="physical-row" class="inventory-row row">

    </div>

    <div id="financial-row" class="inventory-row row">

    </div>

</div> <!-- Inventory Section Close -->

<div id="blog-section" class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-8 col-md-offset-2">
                <div class="blog-post">
                    <div class="blog-post-heading">
                        <h3><strong><em>February 10, 2013</em></strong></h3>
                        <h3><strong>11:04am</strong></h3>
                        <h2>Friend.. Aquaintence.. Other?</h2>
                    </div>
                    <div class="blog-post-content">
                        <p>
                            One of my biggest fears is letting people know exactly who I am. I have a whole lot of "friends.." or acquaintances . honestly, I don't even know what to call them. Anyway... I didn't get them all by being 100 percent myself all the time. Although, I never pretended to be someone I wasn't I just didn't always show 100% of who I was. I would just display the part of me I knew would get along or fit best with them. During my first few years in college I took a lot of pictures but never posted them on  Facebook cause I didn't know what people would think, and I didn't want certain people to see different sides of me that they didn't know. It wasn't anyone in particular, just anyone who might slightly look at me differently or may not have known this side of me. It's crazy! I know. And now that I've gotten older I've since realized how ridiculous it is, but the thing is.. I'm still like that. Actually, the craziest thing is that I don't even talk to or see the vast majority of these people anymore because for the past few years I've been doing a whole lot of soul searching trying to find out who I really am while trying to put my life back together. Partly which involved me losing communication with practically everybody.
                        </p>
                        <br>
                        <p>
                            I have great admiration for people who can write blog posts talking about their lives and intimate feelings and then post them on Facebook for everyone they know to read. So that's exactly what I am going to do. Instead of just letting these posts by seen by a bunch of strangers whose opinions won't really bother me I've decided to actually reveal them to the community of people that actually know me and even though I really don't know what they are thinking anyone who has negative thoughts about anything I post probably isn't really that special  anyway.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Blog Section -->
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-8 col-md-offset-2">
                <div class="blog-post">
                    <div class="blog-post-heading">
                        <h3><strong><em>February 10, 2013</em></strong></h3>
                        <h3><strong>11:04am</strong></h3>
                    </div>
                    <div class="blog-post-content">
                        <p>
                            One of my biggest fears is letting people know exactly who I am. I have a whole lot of "friends.." or acquaintances . honestly, I don't even know what to call them. Anyway... I didn't get them all by being 100 percent myself all the time. Although, I never pretended to be someone I wasn't I just didn't always show 100% of who I was. I would just display the part of me I knew would get along or fit best with them. During my first few years in college I took a lot of pictures but never posted them on  Facebook cause I didn't know what people would think, and I didn't want certain people to see different sides of me that they didn't know. It wasn't anyone in particular, just anyone who might slightly look at me differently or may not have known this side of me. It's crazy! I know. And now that I've gotten older I've since realized how ridiculous it is, but the thing is.. I'm still like that. Actually, the craziest thing is that I don't even talk to or see the vast majority of these people anymore because for the past few years I've been doing a whole lot of soul searching trying to find out who I really am while trying to put my life back together. Partly which involved me losing communication with practically everybody.
                        </p>
                        <br>
                        <p>
                            I have great admiration for people who can write blog posts talking about their lives and intimate feelings and then post them on Facebook for everyone they know to read. So that's exactly what I am going to do. Instead of just letting these posts by seen by a bunch of strangers whose opinions won't really bother me I've decided to actually reveal them to the community of people that actually know me and even though I really don't know what they are thinking anyone who has negative thoughts about anything I post probably isn't really that special  anyway.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog Section Close -->